.centered {
    color:white; 
    font-size: 4em;
    font-family: monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.bg{
        
    height: 500px;
    
    width: 100%;

    

    
}
/*
.bg{
    background: url(/src/header/bg1.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/